@font-face {
    font-family: 'CeraProRegular';
    src: url('fonts/ceraproregular-webfont.woff2') format('woff2'),
         url('fonts/ceraproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CeraProRegularItalic';
    src: url('fonts/ceraproregularitalic-webfont.woff2') format('woff2'),
         url('fonts/ceraproregularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

body {
    font-family: CeraProRegular;
}

main {
    margin-top: 55px;
}

.bg-synapse {
    background-color: #5195A3;
}
.border-synapse {
    border-color: #5195A3;
}
.font-synapse{
    color: #5195A3;
}

.botao {
    cursor: pointer;
}

.page--instituicao .atividades span:first-of-type{
    font-size: 48px;
    font-weight: bold;
}

.page--instituicao .atividades span:last-of-type{
    font-size: 24px;
    font-weight: bold;
    color: #3f3d56;
    line-height: 100%;
}

.page--aluno .identificacao{
    color: #ffffff;
    font-size: 1.2rem;;
}

.page--aluno--desafio .status{
    color: #666666;
    font-size: 0.85rem;;
}

.page--aluno--desafio .status span:first-of-type{
    
}
